<section class="buy-game">
  <div class="wrapper-cover-buy-game">
    <img
      src="{{someGame.img.average}}"
      alt="coverGame"
      class="coverBuyGame"
    />
  </div>

  <div class="wrapper-section-buy-game">
    <div class="buy-game-first-line">
      <ol class="wrapper-list-buy-game">
        <li class="line-description-section-buy-game">
          <div class="wrapper-icon-line">
            <img
              src="./assets/icon/onegame/star.svg"
              alt="star"
              class="logo-li"
            />
          </div>
          <div class="content-line-description">В наличии</div>
        </li>

        <li class="line-description-section-buy-game">
          <div class="wrapper-icon-line">
            <img
              src="./assets/icon/onegame/star.svg"
              alt="star"
              class="logo-li"
            />
          </div>
          <div class="content-line-description">Гарантия качества</div>
        </li>

        <li class="line-description-section-buy-game">
          <div class="wrapper-icon-line">
            <img
              src="./assets/icon/onegame/star.svg"
              alt="star"
              class="logo-li"
            />
          </div>
          <div class="content-line-description">Моментальная доставка</div>
        </li>

        <li class="line-description-section-buy-game">
          <div class="wrapper-icon-line">
            <img
              src="./assets/icon/onegame/star.svg"
              alt="star"
              class="logo-li"
            />
          </div>
          <div class="content-line-description">Отзывы о магазине</div>
        </li>

        <li class="line-description-section-buy-game">
          <div class="wrapper-icon-line">
            <img
              src="./assets/icon/onegame/star.svg"
              alt="star"
              class="logo-li"
            />
          </div>
          <div class="content-line-description">Накопительная скидка</div>
        </li>
      </ol>
    </div>
    <hr class="hr-line-in-box" />
    <div class="buy-game-second-line">
      <div class="wrapper-button-in-basket">
        <button class="btn-to-basket">В корзину</button>
      </div>
      <div class="wrapper-discont-circle">-{{someGame.price.discount}}%</div>
      <div class="wrapper-right-price-and-old--price">
        <p class="right-price">{{someGame.price.priceNow}} ₽</p>
        <p class="old-price">{{someGame.price.priceOld}} ₽</p>
      </div>
    </div>
  </div>
</section>
