<section class="wrapper-qestion-and-answer">
  <div class="wrapper-qestion">
    <div class="wrapper-icon-qestion">
      <img src="./assets/photo/questionPage/question.png" alt="question">
    </div>
    <p class="box-title" (click)="open()">{{qestion.title}}</p>
    <img src="./assets/icon/qestionPage/icon-up.svg" alt="Icon_open"
    [ngClass]="{
      'icon-close': !view,
      'icon-open': view
    }"
    (click)="open()"
    >
  </div>

  <hr *ngIf="view" class="hr-qestion">

  <p *ngIf="view" class="wrapper-answer">{{qestion.subTitle}}</p>
</section>
