<section class="wrapper-description-game">
  <ol class="list-discription">
    <li class="line-discription">
      <span class="title-line-discription">Жанр:</span>
      <span class="discription-title-line-discription">{{someGame.mainPoints.genre}}</span>
    </li>
    <li class="line-discription">
      <span class="title-line-discription">Активация:</span>
      <span class="discription-title-line-discription ">{{someGame.mainPoints.activation}}</span>
    </li>
    <li class="line-discription">
      <span class="title-line-discription">Дата выхода:</span>
      <span class="discription-title-line-discription">{{someGame.mainPoints.releaseDate}}</span>
    </li>
    <li class="line-discription">
      <span class="title-line-discription">Издатель:</span>
      <span class="discription-title-line-discription">{{someGame.mainPoints.publisher}}</span>
    </li>
    <li class="line-discription">
      <span class="title-line-discription">Разработчик:</span>
      <span class="discription-title-line-discription">{{someGame.mainPoints.developer}}</span>
    </li>
    <li class="line-discription">
      <span class="title-line-discription">Регион:</span>
      <span class="discription-title-line-discription">{{someGame.mainPoints.region}}</span>
    </li>
  </ol>
</section>
