
.wrapper-description-game{
  width: 386px;
  height: 311px;
  padding: 30px;
  border-radius: 30px;
  background: #19143E;
}
.list-discription{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.line-discription{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.title-line-discription{
  color: #716BA8;
}
@media screen and (max-width: 1280px) {
  .wrapper-description-game{
    width: 100%;
    max-width: 857px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 400px) {
  .wrapper-description-game{
    padding: 10px;
  }
  .line-discription{
    flex-direction: column;
    align-items: center;
  }

  .list-discription{
    gap: 5px;
  }
}
