<div class="wrapper-nav">
  <nav class="nav">
    <ul class="ul-list">
      <li class="li-item" routerLink="/aboutShop" routerLinkActive="active-link">О нашем магазине</li>
      <li class="li-item" (click)="routerToPage()" routerLinkActive="active-link">Гарантии магазина</li>
      <li class="li-item" routerLink="/reviews" routerLinkActive="active-link">Отзывы о магазине</li>
      <li class="li-item" routerLink="/qestion" routerLinkActive="active-link">Вопрос-ответ</li>
      <li class="li-item" routerLink="/news" routerLinkActive="active-link">Интересные статьи</li>
      <li class="li-item" routerLink="/cooperation" routerLinkActive="active-link">Сотрудничество</li>
    </ul>
  </nav>
</div>