.discont-profile {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;

  width: 906px;
  height: 384px;

  background: #19143e;
  border-radius: 30px;
}
.wrapper-discont-and-title {
  height: 70px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.wrapper-discont-percent {
  width: 70px;
  height: 70px;

  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #e4014a;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(228, 1, 74, 0.2);
  border: 1px solid #e4014a;
  border-radius: 100px;

  &:hover {
    background: rgba(228, 1, 74, 0.35);
  }
}
.wrapper-discont {
  width: 282px;
  height: 53px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.discont-title {
  font-weight: 500;
}
.discont-subtitle {
  color: #716ba8;
}
.discont-subtitle-count {
  color: #ffffff;
}
.wrapper-discont-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 224px;
  background: #211946;
  border-radius: 30px;
}
.description-first-line {
  width: 100%;
  height: 112px;
  display: flex;
}
.first-line-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5%;

  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  border-bottom: 1px solid rgb(255, 255, 255, 0.08);
}
.first-line-box-title {
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  color: #716ba8;
}
.margin-min {
  margin-top: 10px;
}
.box-active {
  background: #e4014a;
  color: #ffffff;
}
.description-second-line {
  width: 100%;
  height: 112px;
  display: flex;
}
.second-line-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5%;

  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #e4014a;
}
.second-line-box-title {
  font-weight: 500;

  display: flex;
  align-items: center;
  text-align: center;
  color: #716ba8;
}
.margin-pl {
  margin-top: -9px;
}

@media screen and (max-width: 1220px) {
  .discont-profile {
    width: 100%;
    max-width: 80vw;
  }
  .wrapper-discont-description {
    overflow-x: auto;
  }
  .description-first-line,
  .description-second-line {
    width: 840px;
  }
  .second-line-box,
  .first-line-box {
    width: 224px;
  }
}
@media screen and (max-width: 809px) {
  .discont-profile {
    width: 100%;
    height: 270px;
    max-width: 100%;
    padding: 20px;
    gap: 20px;
  }
  .wrapper-discont-and-title {
    gap: 15px;
    height: 77px;
  }
  .wrapper-discont-percent {
    width: 57px;
    height: 57px;
    font-size: 28px;
    line-height: 28px;
  }
  .wrapper-discont {
    height: 77px;
    width: 75%;
    display: flex;
    justify-content: center;
  }
  .wrapper-discont-description {
    height: 133px;
  }
  .description-first-line,
  .description-second-line {
    height: 66px;
  }
  .first-line-box,
  .second-line-box {
    width: 12.5%;
    height: 66px;
    font-size: 14px;
    line-height: 21px;
  }
}
