<div class="main-wrapper-game-content-title">
  <div class="wrappper-for-title">
    <h3 class="section-title">{{ title }}</h3>
  </div>

  <div class="main-wrapper-game-navigation" *ngIf="navigation">
    <div class="navigation-circle">
      <img
        src="./assets/icon/Icon_right.svg"
        alt="Icon_down"
        class="img-main-arrow back"
      />
    </div>
    <div class="navigation-circle">
      <img
        src="./assets/icon/Icon_right.svg"
        alt="Icon_down"
        class="img-main-arrow forward"
      />
    </div>
  </div>
</div>
