<div class="modal-wrapper-nav">
  <nav class="modal-nav">
    <ul class="modal-ul-list">
      <li
        class="modal-li-item"
        routerLink="/aboutShop"
        routerLinkActive="active-link"
        (click)="ModalBurgerServis.mooveModal()"
      >
        О нашем магазине
      </li>
      <li
        class="modal-li-item"
        routerLink="/reviews"
        routerLinkActive="active-link"
        (click)="ModalBurgerServis.mooveModal()"
      >
        Отзывы о магазине
      </li>
      <li
        class="modal-li-item"
        routerLink="/qestion"
        routerLinkActive="active-link"
        (click)="ModalBurgerServis.mooveModal()"
      >
        Вопрос-ответ
      </li>
      <li
        class="modal-li-item"
        routerLink="/news"
        routerLinkActive="active-link"
        (click)="ModalBurgerServis.mooveModal()"
      >
        Интересные статьи
      </li>
      <li
        class="modal-li-item"
        routerLink="/cooperation"
        routerLinkActive="active-link"
        (click)="ModalBurgerServis.mooveModal()"
      >
        Сотрудничество
      </li>
    </ul>
  </nav>
</div>
