<div class="section-blog-wrapper-card">
  <div
    class="background-box"
    [ngStyle]="{ backgroundImage: backgroundImage }"
  ></div>
  <div class="blog-wrapper-card-content">
    <div class="blog-card-title">
      <h6 class="blog-card-title-h">{{ oneNews.title | uppercase }}</h6>
    </div>

    <div class="blog-wrapper-card-content-description">
      <img
        src="./assets/icon/mainSectionBlog/Icon_calendar.svg"
        alt="Icon_calendar"
        class="blog-Icon_calendar"
      />
      <time class="blog-card-time">{{
        oneNews.statistics.date | date: "d MMM y"
      }}</time>
      <img
        src="./assets/icon/mainSectionBlog/Icon_view.svg"
        alt="Icon_view"
        class="blog-Icon_view"
      />
      <div class="counter-view">{{ oneNews.statistics.view }}</div>
    </div>
  </div>
</div>
