.main-profile {
  padding: 60px 0 100px 0;
  background: #140f36;
  min-height: 1014px;

}
.main-wrapper-title {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.router-link {
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.title-game-h {
  margin-bottom: 15px;
  margin-left: -1px;
}
.title-game-h2 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}

.main-content {
  display: flex;
  gap: 30px;
  min-height: 574px;
}
.hr-list-navigation-box {
  border: none;
  border-bottom: 1px solid #ffffff;
  opacity: 0.05;
}
.list-navigation-box {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 324px;
  background: #19143e;
  border-radius: 30px;
  cursor: pointer;
}
.li-navigation-box-start {
  border-radius: 30px 30px 0 0;
}

.li-navigation-box {
  display: flex;
  align-items: center;
  padding: 0 0 0 30px;
  gap: 10px;
  width: 100%;
  height: 64px;

  font-weight: 500;

  &:hover *{
    fill: #ffffff;
    color: #e4014a;

  }
}
.li-navigation-box-active {
  display: flex;
  align-items: center;
  padding: 0 0 0 30px;
  gap: 10px;
  width: 100%;
  height: 64px;

  font-weight: 500;
  background: #e4014a;

  & *{
    fill: #ffffff;
  }
}
.icon-navigation-box {
  width: 20px;
  height: 20px;
}

.li-navigation-box-end {
  border-radius: 0 0 30px 30px;
  color: #716ba8;
}
.new-itle-navigation-box {
  display: none;
}

@media screen and (max-width: 1220px) {
  .main-content {
    min-height: 374px;
  }
  .main-content-box {
    width: 100%;
    max-width: 64vw;
  }
}
@media screen and (max-width: 1007px) {
  .new-itle-navigation-box {
    display: block;
  }
  .old-itle-navigation-box {
    display: none;
  }
  .list-navigation-box {
    width: 204px;
  }
}
@media screen and (max-width: 809px) {
  .main-profile {
    padding: 40px 0 60px 0;
  }
  .title-game-h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .main-content {
    display: block;
    gap: 30px;
  }
  .main-content-box {
    width: 100%;
    max-width: 100%;
  }
  .navigation-box {
    overflow-x: auto;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
  }
  .list-navigation-box {
    flex-direction: row;
    width: 800px;
    height: 52px;
    border-radius: 30px;
  }
  .li-navigation-box-start {
    border-radius: 30px 0px 0 30px;
    height: auto;
    width: 150px;
  }
  .li-navigation-box-end {
    border-radius: 0 30px 30px 0;
  }
  .li-navigation-box, .li-navigation-box-active {
    padding: 0px 0px 0px 0px;
    width: 150px;
    height: auto;
    justify-content: center;
  }
}


