.main-cooperation {
  background: #140f36;
  padding-bottom: 100px;
}
.wrapper-baner-about-us {
  background: #19143e;
  height: 493px;
  border-top: 1px solid rgb(255, 255, 255, 0.08);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}
.wrapper-content-baner-about-us {
  display: flex;
  width: 972px;
  gap: 98px;
  margin-left: -37px;
}
.main-wrapper-title {
  display: flex;
  flex-direction: column;
  margin-top: 135px;
}
.main-wrapper-way {
  //color: #716ba8;
  margin-bottom: 9px;
}
.router-link{
  opacity: 0.5;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
}
.title-game-h {
  margin-bottom: 15px;
  margin-left: -1px;
}
.title-game-h2 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}
.title-description {
  margin-bottom: 18px;
  width: 563px;
}
.btn-write-review {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 194px;
  height: 54px;

  background: #e4014a;
  box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.45);
  border-radius: 48px;
  border: none;

  font-weight: 500;
  font-feature-settings: "liga" off;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background: #ef1e61;
    box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.65);
  }
}
.Photo-shop-img {
  margin-top: 54px;
  margin-left: -32px;
  width: 372px;
  height: 415px;
}
.section-statistick-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  gap: 57px;

  width: 1218px;
  height: 160px;

  background: #19143e;
  border-radius: 30px;
}
.wrapper-statistick-block {
  width: 210px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.number-review {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #e4014a;
}
.description-review {
  text-align: center;
}
.main-section-confidence {
  padding-bottom: 100px;
}

.section-question-form {
  display: flex;
  flex-direction: column;
  padding: 60px;
  gap: 30px;

  width: 1218px;
  height: 358px;
  margin: 0 auto;

  background: #19143e;
  border-radius: 30px;
}
.form-title {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 10px;
}
.form-subtitle {
  color: #716ba8;
}
.input-box-content {
  display: flex;
  gap: 20px;
}
.input-box-name-company,
.input-box-name-mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;

  width: 539px;
  height: 54px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 59px;
  border: none;

  font-weight: 500;
  color: #ffffff;
}
.input-box-name-company:hover,
.input-box-name-mail:hover {
  background: rgba(255, 255, 255, 0.1);
}
.input-box-name-company:focus,
.input-box-name-mail:focus {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}
.input-box-name-company::placeholder,
.input-box-name-mail::placeholder {
  font-weight: 500;
  font-feature-settings: "liga" off;
  color: #716ba8;
}
.btn-write-request {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 194px;
  height: 54px;
  background: #e4014a;

  box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.4);
  border-radius: 48px;
  border: none;

  font-weight: 500;
  font-feature-settings: "liga" off;
  color: #ffffff;
  cursor: pointer;
}
.btn-write-request:hover {
  background: #ef1e61;
  box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.65);
}

@media screen and (max-width: 1029px) {
  .main-wrapper-title {
    margin-top: 83px;
    margin-left: 39px;
    margin-right: 39px;
  }
  .wrapper-baner-about-us {
    height: 386px;
  }
  .Photo-shop-img {
    display: none;
  }
  .wrapper-content-baner-about-us {
    width: 100%;
    margin-left: 0px;
  }
}
@media screen and (max-width: 1220px) {
  .section-question-form {
    width: 100%;
    height: auto;
  }
  .input-box-name-company,
  .input-box-name-mail {
    width: 100%;
  }
  .section-statistick-reviews {
    width: 100%;
    overflow: auto;
  }
  .wrapper-content-baner-about-us {
    justify-content: space-between;
  }
}
@media screen and (max-width: 809px) {
  .main-section-confidence {
    padding-bottom: 50px;
  }
  .main-cooperation {
    padding-bottom: 60px;
  }
  .wrapper-baner-about-us {
    height: auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .main-wrapper-title {
    margin-top: 40px;
    margin-left: 35px;
    margin-right: 35px;
  }
  .section-question-form {
    padding: 30px;
    gap: 30px;
    border-radius: 20px;
  }
  .form-title {
    font-size: 28px;
    line-height: 28px;
  }
  .input-box-content {
    flex-direction: column;
  }
  .input-box-name-company,
  .input-box-name-mail {
    height: 40px;
  }
  .btn-write-request {
    width: 179px;
    height: 40px;
  }
  .title-description {
    width: auto;
  }
  .title-game-h {
    margin-bottom: 10px;
  }
  .title-game-h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .section-statistick-reviews,
  .wrapper-statistick-block {
    height: 124px;
  }
  .number-review {
    font-size: 28px;
    line-height: 28px;
  }
}
