<main class="main-cooperation">
  <section class="wrapper-baner-about-us">
    <div class="wrapper-content-baner-about-us">
      <div class="main-wrapper-title">
        <section class="main-wrapper-way">
          <p>
            <a class="router-link" routerLink="/">Главная</a> /
            <span>Сотрудничество</span>
          </p>
        </section>

        <section class="title-game-h">
          <h3 class="title-game-h2">
            Сотрудничество
          </h3>
        </section>

        <p class="title-description">
          Мы ценим постоянных покупателей,
          поэтому у нас работает система лояльности.
          Скидка привязывается к Вашему аккаунту и
          действует на большинство товаров. Чем
          больше сумма покупок - тем выше скидка.
          Именно поэтому выгодно покупать в одном магазине.
        </p>
        <button class="btn-write-review">Оставить заявку</button>
      </div>
      <img src="./assets/photo/cooperation/Photo.png" alt="Photo-shop" class="Photo-shop-img">
    </div>
  </section>

  <div class="wrapper">
    <line-review></line-review>
  </div>

  <section class="main-section-confidence">
    <div class="wrapper">
      <div class="main-section-confidence-content">
        <header-section
          title="Преимущества работы с нами"
          navigation=""
        ></header-section>
        <confidence-card></confidence-card>
      </div>
    </div>
  </section>

  <div class="wrapper">
    <section class="section-question-form">
      <div class="section-question-form-title">
          <h3 class="form-title">Есть Вопросы или хотите обсудить сотрудничество?</h3>
          <p class="form-subtitle">
              Оставьте заявку и мы свяжемся с вами в ближайшее время
          </p>
      </div>
      <div class="input-box-content">
          <input type="text" class="input-box-name-company" placeholder="Название компании">
          <input type="text" class="input-box-name-mail" placeholder="Корпоративная почта">
      </div>
      <button class="btn-write-request">Оставить заявку</button>
  </section>
  </div>
</main>
