<section class="information-profile ">
  <section class="information-profile-data">
    <div class="wrapper-avatat-and-name">
      <img src="./assets/photo/profile/avatar.png" alt="avatar" class="information-profile-avatar">
      <div class="wrapper-name">
        <p class="wrapper-name-title">Antonio Fellini</p>
        <p class="wrapper-name-subtitle">antonio@gmail.com</p>
      </div>
    </div>

    <hr class="hr-list-navigation-box">

    <div class="wrapper-data-content">
      <div class="wrapper-wrapper-data-content-item">
        <p class="title-item">23</p>
        <p class="description-item">Игры куплено</p>
      </div>
      <div class="wrapper-wrapper-data-content-item">
        <p class="title-item">3</p>
        <p class="description-item">Дополнений куплено</p>
      </div>
      <div class="wrapper-wrapper-data-content-item">
        <p class="title-item">12</p>
        <p class="description-item">Комментариев оставлено</p>
      </div>
      <div class="wrapper-wrapper-data-content-item">
        <p class="title-item">2300 <span class="more-bold">₽</span></p>
        <p class="description-item">Денег сэкономлено</p>
      </div>
    </div>
  </section>
  <discont-component></discont-component>
</section>
