<section class="information-profile ">
  <section class="information-profile-data">
    <div class="wrapper-avatat-and-name">
      <img src="../assets/photo/profile/avatar.png" alt="avatar" class="information-profile-avatar">
      <div class="wrapper-name">
        <p class="wrapper-name-title">Antonio Fellini</p>
        <p class="wrapper-name-subtitle">antonio@gmail.com</p>
      </div>
    </div>

    <hr class="hr-list-navigation-box">

    <div class="wrapper-data-content">
      <div class="wrapper-wrapper-data-content-item">
        <p class="title-item">23</p>
        <p class="description-item">Игры куплено</p>
      </div>
      <div class="wrapper-wrapper-data-content-item">
        <p class="title-item">3</p>
        <p class="description-item">Дополнений куплено</p>
      </div>
      <div class="wrapper-wrapper-data-content-item">
        <p class="title-item">12</p>
        <p class="description-item">Комментариев оставлено</p>
      </div>
      <div class="wrapper-wrapper-data-content-item">
        <p class="title-item">2300 <span class="more-bold">₽</span></p>
        <p class="description-item">Денег сэкономлено</p>
      </div>
    </div>
  </section>

  <section class="discont-profile">
    <div class="wrapper-discont-and-title">
      <div class="wrapper-discont-percent">
        4%
      </div>
      <div class="wrapper-discont">
        <p class="discont-title">Ваша накопительная скидка на игры</p>
        <p class="discont-subtitle">Сумма покупок: <span class="discont-subtitle-count">130₽</span></p>
      </div>
    </div>


        <div class="wrapper-discont-description">
          <div class="description-first-line">
            <div class="first-line-box first-line-box-title"><span class="margin-min">Сумма<br> покупок</span></div>
            <div class="first-line-box"><span class="margin-min">1200 $</span></div>
            <div class="first-line-box"><span class="margin-min">1200 $</span></div>
            <div class="first-line-box"><span class="margin-min">1200 $</span></div>
            <div class="first-line-box box-active"><span class="margin-min">1200 $</span></div>
            <div class="first-line-box"><span class="margin-min">1200 $</span></div>
            <div class="first-line-box"><span class="margin-min">1200 $</span></div>
            <div class="first-line-box"><span class="margin-min">1200 $</span></div>
          </div>
          <div class="description-second-line">
            <div class="second-line-box second-line-box-title"><span class="margin-pl">Ваша<br> скидка</span></div>
            <div class="second-line-box"><span class="margin-pl">1%</span></div>
            <div class="second-line-box"><span class="margin-pl">2%</span></div>
            <div class="second-line-box"><span class="margin-pl">3%</span></div>
            <div class="second-line-box box-active"><span class="margin-pl">4%</span></div>
            <div class="second-line-box"><span class="margin-pl">5%</span></div>
            <div class="second-line-box"><span class="margin-pl">6%</span></div>
            <div class="second-line-box"><span class="margin-pl">7%</span></div>
          </div>
        </div>


  </section>

</section>
