.information-profile {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.information-profile-data {
  width: 906px;
  height: 306px;
  background: #19143e;
  border-radius: 30px;
}
.wrapper-avatat-and-name {
  display: flex;
  height: 150px;
  gap: 20px;
  align-items: center;
}
.information-profile-avatar {
  width: 90px;
  height: 90px;
  border-radius: 24px;
  margin-left: 30px;
}
.wrapper-name-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.wrapper-name-subtitle {
  line-height: 27px;
  color: #716ba8;
}
.hr-list-navigation-box {
  border: none;
  border-bottom: 1px solid #ffffff;
  opacity: 0.05;
}
.wrapper-data-content {
  height: 155px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0 30px 0;
}
.wrapper-wrapper-data-content-item {
  width: 156px;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
}
.title-item {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #e4014a;
  text-align: center;
}

@media screen and (max-width: 1220px) {
  .information-profile-data {
    width: 100%;
    max-width: 80vw;
  }
}

@media screen and (max-width: 974px) {
  .information-profile-data {
    height: 431px;
  }
  .wrapper-data-content {
    height: 280px;
    display: flex;
    justify-content: space-around;
    padding: 30px 0 0 0;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 809px) {
  .information-profile {
    gap: 20px;
  }
  .information-profile-data {
    height: 200px;
    width: 100%;
    max-width: 100%;
  }
  .wrapper-avatat-and-name {
    height: 100px;
  }
  .information-profile-avatar {
    width: 60px;
    height: 60px;
    margin-left: 20px;
  }
  .wrapper-name-title,
  .wrapper-name-subtitle,
  .description-item {
    font-size: 14px;
    line-height: 21px;
  }
  .hr-list-navigation-box {
    display: block;
  }
  .hr-list-navigation-box {
    display: none;
  }
  .wrapper-data-content {
    height: 108px;
    padding: 20px 0 0 0;
  }
  .wrapper-wrapper-data-content-item {
    height: 57px;
  }
  .title-item {
    font-size: 28px;
    line-height: 28px;
  }
}

@media screen and (max-width: 693px) {
  .information-profile-data {
    height: 289px;
  }
  .wrapper-data-content {
    height: 188px;
  }
  .wrapper-wrapper-data-content-item {
    width: 170px;
    height: 80px;
  }
}
@media screen and (max-width: 420px) {
  .wrapper-data-content {
    margin-right: 35px;
    margin-left: 35px;
    padding: 0;
  }
  .wrapper-data-content {
    overflow: auto;
  }
}
