<section class="section-statistick-reviews">
  <div class="wrapper-statistick-block">
    <p class="number-review">13 324</p>
    <p class="description-review">
      Положительных<br />
      отзыва
    </p>
  </div>
  <div class="wrapper-statistick-block">
    <p class="number-review">13 324</p>
    <p class="description-review">
      Положительных<br />
      отзыва
    </p>
  </div>
  <div class="wrapper-statistick-block">
    <p class="number-review">13 324</p>
    <p class="description-review">
      Положительных<br />
      отзыва
    </p>
  </div>
  <div class="wrapper-statistick-block">
    <p class="number-review">13 324</p>
    <p class="description-review">
      Положительных<br />
      отзыва
    </p>
  </div>
</section>
