.main-wrapper-game-content-card{
  width: 282px;
  height: 380px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.game-img{
  width: 282px;
  height: 380px;
  border-radius: 30px;
}
.main-wrapper-game-content-card:hover .game-img{
  transform: scale(1.058);
  cursor: pointer;
}
.wrapper-seill-discont{
  position: absolute;
  width: 140px;
  height: 40px;
  display: flex;
  right: 20px;
  bottom: 20px;
  font-weight: 600;

}
.wrapper-seill{
  width: 78px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #FFFFFF;
  background: #E4014A;
  border-radius: 39px 0 0 39px;
}
.wrapper-discont{
  width: 61px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E4014A;
  background: #FFFFFF;
  border-radius: 0 39px 39px 0;
}
.main-wrapper-game-content-card:hover .icon-save-card{
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.icon-save-card{
  display: none;
  transition: .2s;
}
.icon-save-card:hover{
  transform: scale(1.3);
}
@media screen and (max-width: 983px) {
  .main-wrapper-game-content-card, .game-img{
      width: 230.67px;
      height: 310px;
  }

  .main-wrapper-game-content-cards {
      gap: 20px;
  }
}
@media screen and (max-width: 810px) {
  .main-wrapper-game-content-cards{
      max-width: 711px;
  }
  .main-wrapper-game-content-card {
      width: 163px;
      height: 220px;
  }
  .game-img {
      width: 163px;
      height: 220px;
  }
  .wrapper-seill-discont {
      width: 127px;
      height: 30px;
      right: 18px;
      bottom: 15px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
  }
  .wrapper-seill {
      width: 66px;
      height: 30px;
  }
  .wrapper-discont {
      height: 30px;
  }

}
@media screen and (max-width: 423px) {
  .main-wrapper-game-content-cards {
      gap: 10px;
  }
}
