.main-one-news{
  margin-bottom: -100px;
  background: #140f36;
}
.section-news-baner {
  max-width: 1920px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  position: relative;
  height: 515px;
  margin: 0 auto;
}
.mainGradient {
  width: 100%;
  height: 100%;
}
.section-news-content {
  width: 802px;
  margin: 0 auto;
  position: relative;
  top: -200px;
}
.wrapper-news-content-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 53px;
}
.wrapper-way {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  opacity: 0.5;
  cursor: pointer;
  
  &:hover{
    opacity: 1;
  }
}

.icon-back {
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
}
.wrapper-infomation-stats-news {
  margin-top: 1px;
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  gap: 20px;
}
.wrapper-statistic{
  display: flex;
  gap: 10px;
  align-items: center;
}
.icon-stats-news {
  width: 24px;
  height: 24px;
}
.wrapper-title-news {
  margin-top: -1px;
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}
.wrapper-news-main-content {
  font-size: 18px;
  line-height: 32px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.subtitle-news {
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}
@media screen and (max-width: 1220px) {
  .section-news-content {
      width: calc(100% - 78px);
  }
}
@media screen and (max-width: 809px) {
  .section-news-content {
      top: -131px;
  }
  .section-news-baner{
      height: 356px;
  }
  .wrapper-news-content-title {
      margin-bottom: 33px;
  }
  .icon-back {
      width: 21px;
      height: 21px;
  }

  .wrapper-title-news{
      font-size: 28px;
      line-height: 28px;
  }
  .wrapper-news-main-content {
      font-size: 14px;
      line-height: 21px;
  }
}
@media screen and (max-width: 420px) {
  .wrapper-infomation-stats-news {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
  }
}
