<section class="wrapper-review">
  <p class="title-review-and-coments">
    <span class="title-review-active">Отзывы</span
    ><span>{{ someGame.reviews.length }}</span>
  </p>

  <hr class="hr-line-in-box" />
  <section class="wrapper-input-coments">
    <textarea
      name="Text1"
      cols="40"
      rows="5"
      class="textarea-text-coments"
      placeholder="Комментарий"
    ></textarea>
    <button class="input-btn-submit">Оставить отзыв</button>
  </section>
  <hr class="hr-line-in-box" />

  <div class="wrapper-coments">
      <div class="wrapper-for-review" *ngFor="let review of someGame.reviews">
    <section class="wrapper-blok-coment">
      <div class="wrapper-avatar-coment">
        <img
          src="./assets/icon/onegame/Icon_user.svg"
          alt="ava"
          class="avatar-coment"
        />
      </div>
      <div class="wrapper-content-coment">
          <p class="wrapper-nick-athor">Antonio Margaretti</p>
        <p class="wrapper-content-coment-text">
          {{review.text}}
        </p>
      </div>
      <p class="wrapper-time-coment">
        <time>{{review.date | date: 'd MMMM y'}}</time>
      </p>
    </section>
    <hr class="hr-line-in-box" />
  </div>
  </div>


</section>
