<section class="section-my-seils displayNone">
  <section class="section-my-seils-game">
    <div class="wrapper-game-img">
      <img src="./assets/photo/profile/Rectangle 21.png" alt="img_Game" class="my-seils-game-img">
    </div>
    <div class="wrapper-game-description">
      <p class="game-title">Dead Cells</p>
      <div class="wrapper-game-price">
        <div class="game-price">
          <p class="value">1 200 ₽</p>
          <p class="old-vale">2 990 ₽</p>
        </div>
        <div class="count-discont">
          -30%
        </div>
      </div>

      <p class="description-line">Номер заказ: <span class="white-word">1345211</span></p>
      <p class="description-line">Регион активации: <span class="white-word">Россия, Украина и СНГ</span></p>
      <p class="description-line">Сервис активации: <span class="white-word">Steam</span></p>

      <p class="description-line red-word-code">Показать код активации</p>
    </div>
  </section>

  <section class="section-my-seils-game">
    <div class="wrapper-game-img">
      <img src="./assets/photo/profile/Rectangle 21.png" alt="img_Game" class="my-seils-game-img">
    </div>
    <div class="wrapper-game-description">
      <p class="game-title">Dead Cells</p>
      <div class="wrapper-game-price">
        <div class="game-price">
          <p class="value">1 200 ₽</p>
          <p class="old-vale">2 990 ₽</p>
        </div>
        <div class="count-discont">
          -30%
        </div>
      </div>

      <p class="description-line">Номер заказ: <span class="white-word">1345211</span></p>
      <p class="description-line">Регион активации: <span class="white-word">Россия, Украина и СНГ</span></p>
      <p class="description-line">Сервис активации: <span class="white-word">Steam</span></p>

      <p class="description-line red-word-code">Показать код активации</p>
    </div>
  </section>

</section>
