.main{
  padding: 60px 0 100px 0;
}
.main-content{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-wrapper-title{
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.router-link{
  opacity: 0.5;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
}
.title-game-h2 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}
.red-word{
  color: #E4014A;
}
.section-review-cards{
  width: 100%;
  max-width: 1220px;
  height: 1059px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;

  gap: 30px;
}
.btn-show-more{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 176px;
  height: 54px;

  background: #E4014A;
  box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.45);
  border-radius: 48px;
  border: none;
  margin: 0 auto;

  font-weight: 500;
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
  cursor: pointer;

  &:hover{
    background: #EF1E61;
    box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.65);
  }
}

@media screen and (max-width: 809px) {
  .main{
    padding: 30px 0 50px 0;
  }
  .main-content{
    gap: 20px;
  }
  .title-game-h2 {
    font-size: 28px;
    line-height: 28px;
  }
}
