<section class="section-settings-profile">
  <div class="wrapper-settings-profile-title">
    <p class="settings-profile-title settings-profile-title-active">Основные данные</p>
    <p class="settings-profile-title">Смена пароля</p>
  </div>

  <hr class="hr-discont-description">

  <div class="wrapper-settings-profile-content">
    <div class="profile-content-title">
      <div class="profile-content-title-nick">
        <p class="title-nick">Никнейм</p>
        <input type="text" class="text-name" placeholder="Arturio">
      </div>
      <div class="profile-content-title-mail">
        <p class="title-mail">Эл. почта</p>
        <input type="text" class="text-mail" placeholder="mail@gmial.com">
      </div>
    </div>
    
    <button class="btn-join-steam">
      <p>Привязть Steam</p>
      <img src="./assets/icon/profile/Steam.svg" alt="Steam" class="icon-steam">
    </button>

    <button class="btn-save-profile">Сохранить</button>

  </div>

</section>
