.section-settings-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  width: 906px;
  height: 373px;

  background: #19143e;
  border-radius: 30px;
}
.wrapper-settings-profile-title {
  display: flex;
  gap: 30px;
  padding-left: 5px;
}
.settings-profile-title {
  color: #716ba8;
  height: 34px;
  cursor: pointer;
}
.settings-profile-title-active {
  color: #ffffff;
  border-bottom: 1px solid #e4014a;
}
.hr-discont-description {
  border: none;
  border-bottom: 1px solid #ffffff;
  opacity: 0.05;
  width: 906px;
  position: relative;
  left: -30px;
}
.wrapper-settings-profile-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
}
.profile-content-title {
  display: flex;
  height: 80px;
  gap: 20px;
}
.title-nick,
.title-mail {
  font-size: 14px;
  color: #716ba8;
  padding-bottom: 5px;
}
.text-name,
.text-mail {
  display: flex;
  padding: 15px 20px;
  width: 413px;
  height: 54px;

  background: rgba(255, 255, 255, 0.05);
  border: none;
  border-radius: 60px;

  font-weight: 500;
  color: #ffffff;
}
.text-name:hover,
.text-mail:hover {
  background: rgba(255, 255, 255, 0.1);
}
.text-name:focus,
.text-mail:focus {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.text-name::placeholder,
.text-mail::placeholder {
  color: #716ba8;
}
.btn-join-steam {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  height: 54px;

  background: #271c79;
  border-radius: 100px;
  border: none;

  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.btn-save-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 153px;
  height: 54px;
  background: #e4014a;
  box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.4);
  border-radius: 48px;
  border: none;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background: #ef1e61;
    box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.65);
  }
}

@media screen and (max-width: 1220px) {
  .section-settings-profile {
    width: 100%;
  }
  .hr-discont-description {
    max-width: calc(100% + 60px);
  }
  .wrapper-settings-profile-content {
    width: 100%;
  }
  .profile-content-title-nick,
  .profile-content-title-mail {
    width: 50%;
  }

  .text-name,
  .text-mail {
    max-width: 350px;
    width: 100%;
  }
}
@media screen and (max-width: 809px) {
  .section-settings-profile {
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
  }
  .settings-profile-title,
  .settings-profile-title,
  .text-name,
  .text-mail,
  .btn-join-steam,
  .btn-save-profile {
    font-size: 14px;
    line-height: 21px;
  }
}
@media screen and (max-width: 600px) {
  .section-settings-profile {
    height: 353px;
  }
  .wrapper-settings-profile-content {
    padding-top: 20px;
    gap: 20px;
  }
  .profile-content-title {
    flex-direction: column;
    height: 142px;
    gap: 10px;
  }
  .profile-content-title-nick,
  .profile-content-title-mail {
    width: 100%;
  }
  .text-name,
  .text-mail {
    max-width: 100%;
    height: 40px;
    padding: 0 20px;
  }
  .btn-join-steam {
    height: 40px;
  }
  .btn-save-profile {
    height: 40px;
    width: 100%;
  }
}
