<section class="section-settings-mail">
  <p class="settings-mail-message">
    Вам на почту иногда будут приходить письма
    с информацией о новых полезных распродажах,
    интересных статьях. Обещаем, что <span class="red-word">спама не будет</span>,
    нам это уже самим надоело! :)
  </p>
  <div class="news-sales">
    <div class="wrapper-togl news-sales-togl">
      <div class="wrapper-togl-circle wrapper-togl-circle-active"></div>
    </div>
    <p class="news-content">Рассылка с выгодными распродажами</p>
  </div>
  <div class="news-game">
    <div class="wrapper-togl news-game-togl">
      <div class="wrapper-togl-circle"></div>
    </div>
    <p class="news-content">Рассылка новостей игрового мира и интересных статей </p>
  </div>
  <div class="news-about-us">
    <div class="wrapper-togl news-about-us-togl">
      <div class="wrapper-togl-circle wrapper-togl-circle-active"></div>
    </div>
    <p class="news-content">Рассылка новостей о нас</p>
  </div>

</section>
