.section-settings-mail {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;

  width: 906px;
  height: 258px;
  background: #19143e;
  border-radius: 30px;
}
.settings-mail-message {
  height: 48px;
  font-weight: 500;
  font-feature-settings: "liga" off;
}
.red-word {
  color: #e4014a;
}
.news-sales,
.news-game,
.news-about-us {
  display: flex;
  align-items: center;
  gap: 20px;
}
.wrapper-togl {
  width: 50px;
  height: 30px;
  background: #211946;
  border-radius: 34px;
  position: relative;
  cursor: pointer;
}
.wrapper-togl-circle {
  width: 24px;
  height: 24px;
  background: #716ba8;
  border-radius: 34px;

  position: absolute;
  top: 3px;
  left: 3px;
}
.wrapper-togl-circle-active {
  background: #e4014a;
  left: 23px;
}

@media screen and (max-width: 1220px) {
  .section-settings-mail {
    width: 100%;
    height: auto;
  }
  .settings-mail-message {
    height: auto;
  }
}
@media screen and (max-width: 809px) {
  .section-settings-mail {
    padding: 20px;
  }
}
