.main {
  padding: 60px 0 100px 0;
  background: #140f36;
}
.wrapper-content-qestion {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-wrapper-title {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.router-link{
  //color: #716ba8;
  opacity: 0.5;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
}
.title-game-h {
  margin-bottom: 15px;
  margin-left: -1px;
}
.title-game-h2 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}
.description-question-page {
  color: #716ba8;
}
.icon-open {
  position: absolute;
  right: 5px;
  top: 20px;
  width: 20px;
  height: 20px;
}
.icon-close {
  transform: rotate(180deg);
}
.wrapper-qestion-solo {
  padding: 30px;
  width: 1218px;
  height: 121px;
  background: #19143e;
  border-radius: 20px;

  font-family: 'Bebas Neue';
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}
.wrapper-qestion-solo-box {
  position: relative;
  display: flex;
  align-items: center;

  gap: 20px;
  height: 100%;
  cursor: pointer;
}
@media screen and (max-width: 1220px) {


  .wrapper-qestion-solo {
      width: 100%;
  }
}
@media screen and (max-width: 809px) {
  .main {
      padding: 40px 0 60px 0;
  }

  .title-game-h2 {
      font-size: 28px;
      line-height: 28px;
  }
  .wrapper-content-qestion {
      gap: 20px;
  }

}

