<main class="main">
  <section class="title-main">
    <div class="wrapper">
      <div class="wrapper-content-qestion">

        <div class="main-wrapper-title">
          <section class="main-wrapper-way">
            <a routerLink="/" class="router-link">Главная</a> /
            <span> Вопрос-ответ</span>
          </section>

          <section class="title-game-h">
            <h3 class="title-game-h2">
              Вопрос-ответ и поддержка
            </h3>
          </section>
        </div>

        <p class="description-question-page">{{description}}</p>
        <qestion-box
        *ngFor="let item of someQestion"
        [qestion] = "item"
        ></qestion-box>

        <!--
        <section class="wrapper-qestion-and-answer">
          <div class="wrapper-qestion">
            <div class="wrapper-icon-qestion">
              <img src="../assets/photo/questionPage/question.png" alt="question">
            </div>
            <p class="box-title">Впервые покупаю игру, которая находится в "предзаказе", что это?</p>
            <img src="./assets/icon/qestionPage/icon-up.svg" alt="Icon_open" class="icon-open">
          </div>

          <hr class="hr-qestion">

          <p class="wrapper-answer">
            Предзаказ (предварительный заказ) товара заключается
            в его бронировании вплоть до даты релиза. После оплаты
            товара на указанную эл. почту придет письмо, которое
            перенаправит Вас на страницу заказа с вложенным таймером,
            по истечении которого Вам выдадут ключ. Ключи выдаются
            сразу по истечении таймера в покупке или же, обычно, это
            происходит в день релиза 00:00 по московскому времени.
          </p>
        </section>
        <section class="wrapper-qestion-solo">
          <div class="wrapper-qestion-solo-box">
            <div class="wrapper-icon-qestion">
              <img src="../assets/photo/questionPage/question.png" alt="question">
            </div>
            <p class="box-title">
              Впервые покупаю игру, которая находится в "предзаказе", что это?
            </p>
            <img src="../assets/icon/qestionPage/icon-up.svg" alt="Icon_open" class="icon-open icon-close">
          </div>
        </section>

        <section class="wrapper-qestion-solo">
          <div class="wrapper-qestion-solo-box">
            <div class="wrapper-icon-qestion">
              <img src="../assets/photo/questionPage/question.png" alt="question">
            </div>
            <p class="box-title">
              Впервые покупаю игру, которая находится в "предзаказе", что это?
            </p>
            <img src="../assets/icon/qestionPage/icon-up.svg" alt="Icon_open" class="icon-open icon-close">
          </div>
        </section>

        <section class="wrapper-qestion-solo">
          <div class="wrapper-qestion-solo-box">
            <div class="wrapper-icon-qestion">
              <img src="../assets/photo/questionPage/question.png" alt="question">
            </div>
            <p class="box-title">
              Впервые покупаю игру, которая находится в "предзаказе", что это?
            </p>
            <img src="../assets/icon/qestionPage/icon-up.svg" alt="Icon_open" class="icon-open icon-close">
          </div>
        </section>


        -->



      </div>


    </div>

  </section>
</main>
