<main class="main">
  <section class="title-main">
    <div class="wrapper">
      <div class="wrapper-content-qestion">

        <div class="main-wrapper-title">
          <section class="main-wrapper-way">
            <a routerLink="/" class="router-link">Главная</a> /
            <span> Вопрос-ответ</span>
          </section>

          <section class="title-game-h">
            <h3 class="title-game-h2">
              Вопрос-ответ и поддержка
            </h3>
          </section>
        </div>

        <p class="description-question-page">{{description}}</p>
        <qestion-box
        *ngFor="let item of someQestion"
        [qestion] = "item"
        ></qestion-box>
        
      </div>


    </div>

  </section>
</main>
