.main {
  background: #140f36;
}
.wrapper-baner-about-us {
  background: #19143e;
  height: 493px;
  border-top: 1px solid rgba(253, 4, 4, 0.08);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}
.wrapper-content-baner-about-us {
  display: flex;
  width: 972px;
  gap: 98px;
  margin-left: -37px;
}
.main-wrapper-title {
  display: flex;
  flex-direction: column;
  margin-top: 135px;
}
.main-wrapper-way {
  //color: #716ba8;
  margin-bottom: 9px;
}
.router-link{
  opacity: 0.5;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
}
.title-game-h {
  margin-bottom: 15px;
  margin-left: -1px;
}
.title-game-h2 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}
.title-description {
  width: 563px;
}
.Photo-shop-img {
  margin-top: 54px;
  margin-left: -32px;
  width: 372px;
  height: 415px;
}
.red-word {
  color: #e4014a;
}

.section-statistick-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  gap: 57px;

  width: 1218px;
  height: 160px;

  background: #19143e;
  border-radius: 30px;
}
.wrapper-statistick-block {
  width: 210px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.number-review {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #e4014a;
}
.description-review {
  text-align: center;
}
.main-section-confidence {
  background: none;
  margin-bottom: 200px;
}
.confidence-content-card {
  background: #19143e;
}
@media screen and (max-width: 1220px) {
  .section-statistick-reviews {
    width: 100%;
    overflow: auto;
  }
  .wrapper-content-baner-about-us {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1029px) {
  .wrapper-baner-about-us {
    height: 386px;
  }
  .Photo-shop-img {
    display: none;
  }
  .wrapper-content-baner-about-us {
    width: 100%;
    margin-left: 0px;
  }
  .main-wrapper-title {
    margin-top: 83px;
    margin-left: 39px;
    margin-right: 39px;
  }
}
@media screen and (max-width: 962px) {
  .main-section-confidence {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 809px) {
  .wrapper-baner-about-us {
    height: auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .main-wrapper-title {
    margin-top: 40px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .title-description {
    width: auto;
  }
  .title-game-h {
    margin-bottom: 10px;
  }
  .title-game-h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .section-statistick-reviews,
  .wrapper-statistick-block {
    height: 124px;
  }
  .number-review {
    font-size: 28px;
    line-height: 28px;
  }
  .description-review {
    font-size: 14px;
    line-height: 21px;
  }
}
