<main class="main">
  <section class="wrapper-baner-about-us">
    <div class="wrapper-content-baner-about-us">
      <div class="main-wrapper-title">
        <section class="main-wrapper-way">
          <p>Главная / О нагем магазине</p>
        </section>
        <section class="title-game-h">
          <h3 class="title-game-h2">
            О нашем <span class="red-word">магазине</span>
          </h3>
        </section>
        <p class="title-description">
          Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру
          сгенерировать несколько абзацев более менее осмысленного текста рыбы
          на русском языке, а начинающему оратору отточить навык публичных
          выступлений в домашних условиях. При создании мы использовали
          небезизвестный универсальный код речей.
        </p>
      </div>
      <img
        src="../assets/photo/aboutUs/Photo.png"
        alt="Photo-shop"
        class="Photo-shop-img"
      />
    </div>
  </section>

  <div class="wrapper">
    <section class="section-statistick-reviews">
      <div class="wrapper-statistick-block">
        <p class="number-review">13 324</p>
        <p class="description-review">
          Положительных<br />
          отзыва
        </p>
      </div>
      <div class="wrapper-statistick-block">
        <p class="number-review">13 324</p>
        <p class="description-review">
          Положительных<br />
          отзыва
        </p>
      </div>
      <div class="wrapper-statistick-block">
        <p class="number-review">13 324</p>
        <p class="description-review">
          Положительных<br />
          отзыва
        </p>
      </div>
      <div class="wrapper-statistick-block">
        <p class="number-review">13 324</p>
        <p class="description-review">
          Положительных<br />
          отзыва
        </p>
      </div>
    </section>
  </div>

  <!--

  <section class="main-section-confidence">
    <div class="wrapper">
      <div class="main-section-confidence-content">
        <div class="confidence-content-title">
          <h3>Почему нам <span class="red">доверяют</span>?</h3>
          <div class="navigation-circle-confidence">

            <div class="navigation-circle">
              <img src="../assets/icon/Icon_right.svg" alt="Icon_down" class="img-main-arrow back">
            </div>
            <div class="navigation-circle">
              <img src="../assets/icon/Icon_right.svg" alt="Icon_down" class="img-main-arrow forward">
            </div>

          </div>
        </div>
        <div class="confidence-content-cards">

          <div class="confidence-content-card about-us-card1">

            <div class="card-icon">
              <img src="../assets/icon/main-confidence/key.svg" alt="key">
            </div>

            <div class="card-content">
              <div class="card-content-title">
                <h5 class="card-content-title-h">Официальные ключи</h5>
              </div>
              <p class="card-content-text">
                Все ключи закупаются у официальных дилеров
                издателей: 1С, Бука, Electronic Arts, NCsoft Europe,
                и др. Естественно, на такие ключи дается пожизненная
                гарантия. У нас прямая связь с дилерами и многие вопросы
                мы можем решать очень оперативно.
              </p>
            </div>

          </div>

          <div class="confidence-content-card about-us-card2">

            <div class="card-icon">
              <img src="../assets/icon/main-confidence/star.svg" alt="star">
            </div>

            <div class="card-content">
              <div class="card-content-title">
                <h5 class="card-content-title-h">Гарантия качества</h5>
              </div>
              <p class="card-content-text">Идейные соображения высшего порядка, а
                также рамки и место обучения кадров требуют
                определения и уточнения позиций, занимаемых
                участниками в отношении поставленных задач.
                Разнообразный и богатый опыт
              </p>
            </div>

          </div>

          <div class="confidence-content-card about-us-card3">

            <div class="card-icon">
              <img src="../assets/icon/main-confidence/review.svg" alt="message">
            </div>

            <div class="card-content">
              <div class="card-content-title">
                <h5 class="card-content-title-h">Отзывы на товары</h5>
              </div>
              <p class="card-content-text">
                Все ключи закупаются у официальных дилеров
                издателей: 1С, Бука, Electronic Arts, NCsoft Europe,
                и др. Естественно, на такие ключи дается пожизненная
                гарантия. У нас прямая связь с дилерами и многие вопросы
                мы можем решать очень оперативно.
              </p>
            </div>

          </div>

          <div class="confidence-content-card about-us-card4">

            <div class="card-icon">
              <img src="../assets/icon/main-confidence/shield.svg" alt="shield">
            </div>

            <div class="card-content">
              <div class="card-content-title">
                <h5 class="card-content-title-h">Официальные ключи</h5>
              </div>
              <p class="card-content-text">
                Идейные соображения высшего порядка, а
                также рамки и место обучения кадров требуют
                определения и уточнения позиций, занимаемых
                участниками в отношении поставленных задач.
                Разнообразный и богатый опыт
              </p>
            </div>

          </div>

        </div>

      </div>
    </div>
  </section>

-->

  <section class="main-section-confidence">
    <div class="wrapper">
      <div class="main-section-confidence-content">
        <header-section
          title="Почему нам доверяют?"
          navigation=""
        ></header-section>
        <confidence-card></confidence-card>
      </div>
    </div>
  </section>
</main>
