<main class="main">
  <section class="wrapper-baner-about-us">
    <div class="wrapper-content-baner-about-us">
      <div class="main-wrapper-title">
        <section class="main-wrapper-way">
          <p>
            <a class="router-link" routerLink="/">Главная</a> /
            <a routerLink="/" class="router-link"> О нагем магазине</a>
          </p>
        </section>

        <section class="title-game-h">
          <h3 class="title-game-h2">
            О нашем <span class="red-word">магазине</span>
          </h3>
        </section>

        <p class="title-description">
          Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру
          сгенерировать несколько абзацев более менее осмысленного текста рыбы
          на русском языке, а начинающему оратору отточить навык публичных
          выступлений в домашних условиях. При создании мы использовали
          небезизвестный универсальный код речей.
        </p>
      </div>
      <img
        src="../assets/photo/aboutUs/Photo.png"
        alt="Photo-shop"
        class="Photo-shop-img"
      />
    </div>
  </section>

  <div class="wrapper">
    <section class="section-statistick-reviews">
      <div class="wrapper-statistick-block">
        <p class="number-review">13 324</p>
        <p class="description-review">
          Положительных<br />
          отзыва
        </p>
      </div>
      <div class="wrapper-statistick-block">
        <p class="number-review">13 324</p>
        <p class="description-review">
          Положительных<br />
          отзыва
        </p>
      </div>
      <div class="wrapper-statistick-block">
        <p class="number-review">13 324</p>
        <p class="description-review">
          Положительных<br />
          отзыва
        </p>
      </div>
      <div class="wrapper-statistick-block">
        <p class="number-review">13 324</p>
        <p class="description-review">
          Положительных<br />
          отзыва
        </p>
      </div>
    </section>
  </div>
  <section class="main-section-confidence">
    <div class="wrapper">
      <div class="main-section-confidence-content">
        <header-section
          title="Почему нам доверяют?"
          navigation=""
        ></header-section>
        <confidence-card></confidence-card>
      </div>
    </div>
  </section>
</main>
