.confidence-content-cards{
  /*max-width: 1220px;*/
  height: 466px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  overflow-y: auto;
}
.confidence-content-card{
  width: 594px;
  height: 218px;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  background: #211946;
  border-radius: 30px;
}
.card-icon{
  width: 61px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E4014A;
  box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.45);
  border-radius: 30px;
}
.card-content{
  width: 453px;
  height: 158px;
  display: flex;
  flex-direction: column;
}

.card-content-title-h{
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}

.card-content-text{
  padding-top: 10px;
  color: #716BA8;
}
@media screen and (max-width: 1280px) {
  .confidence-content-cards {
      height: 514px;
  }
  .confidence-content-card {
      width: 430px;
      height: 242px;
  }
  .card-content {
      width: 290px;
      height: 182px;
  }
  .card-content-text{
      overflow: auto;
      scrollbar-width: none;
  }
}
@media screen and (max-width: 550px) {
  .card-icon{
    display: none;
  }
  .confidence-content-card {
    width: 300px;
    height: 242px;
    padding: 20px;
    border-radius: 20px;
}
}
@media screen and (max-width: 380px) {
  .confidence-content-card {
    width: 250px;
    height: 242px;
}
}
