.wrapper-carusel-scroll{
  //position: relative;
  width: 100%;
  overflow: hidden;
  //max-width: 857px;
}
.carousel-about-game{
  overflow-x: auto;
  //width: 100%;
}
.wrapper-full-item{
  display: flex;
  gap: 20px;
}
.wrapper-one-item{
  width: 328px;
  height: 184px;
}
.photo-discription{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.wrapper-button-next-item{
  position: absolute;
  top: 69px;
  right: 20px;
  width: 45px;
  height: 45px;
}
.btn-next-item{
  background: rgba(255, 255, 255, 0.15);
  border-radius: 40px;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  .wrapper-carusel-scroll{
      width: 100%;
      max-width: 857px;
  }
  /*
  .carousel-about-game{
      width: 100%;
      max-width: 857px;
  }
  */
}
@media screen and (max-width: 745px) {
  .wrapper-full-item{
      width: 676px;
  }
  .wrapper-one-item{
      width: 212px;
      height: 119px;
  }
  .wrapper-button-next-item {
      top: 39px;
  }
}
